<AnimatedContainer>
  {{#animated-if this.isOpen}}
    <div style="backgroud-color:#000">TEST</div>
  {{/animated-if}}
</AnimatedContainer>

<AnimatedContainer>
  {{#animated-if this.isOpen use=this.transition}}
    <div style="backgroud-color:#000">TEST</div>
  {{/animated-if}}
</AnimatedContainer>

<AnimatedContainer>
  {{#animated-if this.isOpen use=this.transition}}
    <div style="backgroud-color:#000">TEST</div>
  {{/animated-if}}
</AnimatedContainer>

<AnimatedContainer>
  {{#animated-if this.isOpen use=this.transition}}
    <div style="backgroud-color:#000">TEST</div>
  {{/animated-if}}
</AnimatedContainer>

<AnimatedContainer>
  {{#animated-if this.isOpen use=this.transition}}
    <div style="backgroud-color:#000">TEST</div>
  {{/animated-if}}
</AnimatedContainer>

<AnimatedContainer>
  {{#animated-if this.isOpen use=this.transition}}
    <div style="backgroud-color:#000">TEST</div>
  {{/animated-if}}
</AnimatedContainer>

<AnimatedContainer>
  {{#animated-if this.isOpen use=this.transition}}
    <div style="backgroud-color:#000">TEST</div>
  {{/animated-if}}
</AnimatedContainer>

<AnimatedContainer>
  {{#animated-if this.isOpen use=this.transition}}
    <div style="backgroud-color:#000">TEST</div>
  {{/animated-if}}
</AnimatedContainer>

<button {{on "click" this.toggleOpen}}>Toggle</button>